<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" type="text/css" media="screen"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->
        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css'
            rel='stylesheet'>
        <!-- Boxicons -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/CRUD.css')}}">
        <link
            href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css'
            rel='stylesheet'>
        <!-- My CSS -->
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/adminstyle.css')}}">

        <title>Penilaian Admin</title>
    </head>
    <body>

        <!-- SIDEBAR -->
        <section id="sidebar">
            <a href="{{url_for('dashboard')}}" class="brand">
                <i class='bx bxs-smile'></i>
                <span class="text">Admin</span>
            </a>
            <ul class="side-menu top">
                <li>
                    <a href="{{url_for('dashboard')}}">
                        <i class='bx bxs-dashboard'></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('profile_admin')}}">
                        <i class='bx bxs-user-circle'></i>
                        <span class="text">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('registrasi')}}">
                        <i class='bx bx-add-to-queue'></i>
                        <span class="text">Registrasi</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('mahasiswa')}}">
                        <i class='bx bx-book-bookmark'></i>
                        <span class="text">Mahasiswa</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('dosen')}}">
                        <i class='bx bx-book-reader'></i>
                        <span class="text">Dosen</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('matakuliah')}}">
                        <i class='bx bx-book'></i>
                        <span class="text">Mata Kuliah</span>
                    </a>
                </li>
                <li class="active">
                    <a href="{{url_for('nilai')}}">
                        <i class='bx bxs-bookmarks'></i>
                        <span class="text">Penilaian</span>
                    </a>
                </li>
            </ul>
            <ul class="side-menu">
                <li>
                    <a href="{{url_for('logout')}}" class="logout">
                        <i class='bx bxs-log-out'></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- SIDEBAR -->

        <!-- CONTENT -->
        <section id="content">
            <!-- NAVBAR -->
            <nav>
                <i class='bx bx-menu'></i>
                <a href="#" class="nav-link">Categories</a>
                <form action="#">
                    <div class="form-input">
                        <input type="search" placeholder="Search...">
                        <button type="submit" class="search-btn">
                            <i class='bx bx-search'></i>
                        </button>
                    </div>
                </form>
                <input type="checkbox" id="switch-mode" hidden="hidden">
                <label for="switch-mode" class="switch-mode"></label>
                <a href="#" class="notification">
                    <i class='bx bxs-bell'></i>
                    <!-- <span class="num">8</span> -->
                </a>
                <a href="{{url_for('profile_admin')}}" class="profile">
                    <img
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                </a>
            </nav>
            <!-- NAVBAR -->
            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1>Penilaian</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a class="active" href="#">Home</a>
                            </li>
                            <li>
                                <i class='bx bx-chevron-right'></i>
                            </li>
                            <li>
                                <a href="#">Penilaian</a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn-download">
                        <i class='bx bxs-cloud-download'></i>
                        <span class="text">Download PDF</span>
                    </a>
                </div>
            </h2>
        </h2>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Penilaian
                                <b>Mahasiswa</b>
                            </h2>
                        </div>
                    </div>
                </div>
                {% block body %}
                    <div class="container">
                        <div class="starter-template">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Tambah Data
                            </button>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td>Mahasiswa</td>
                                    <td>Mata Kuliah</td>
                                    <td>Presensi</td>
                                    <td>UTS</td>
                                    <td>UAS</td>
                                    <td>Tugas Besar</td>
                                    <td>Tugas Kecil</td>
                                    <td>Bobot</td>
                                    <td>Hasil</td>
                                    <td>Aksi</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in nilai %}
                                    <tr>
                                        <td>{{ row.0 }}</td>
                                        <td>{{ row.1 }}</td>
                                        <td>{{ row.2 }}</td>
                                        <td>{{ row.3 }}</td>
                                        <td>{{ row.4 }}</td>
                                        <td>{{ row.5 }}</td>
                                        <td>{{ row.6 }}</td>
                                        <td>{{ row.7 }}</td>
                                        <td>{{ row.8 }}</td>

                                        <td>
                                            <!-- <a href="#!" class="btn btn-warning btn-xs" data-toggle="modal"
                                               data-target="#modalEdit{{ row.0 }}">Edit</a> -->
                                            <a href="/hapus-nilai/{{ row.0 }}" class="btn btn-danger btn-xs"
                                               onclick="return confirm('Yakin ingin hapus?')">Hapus</a>
                                        </td>
                                    </tr>
                                    <!-- Modal -->
                                    <div id="modalEdit{{ row.0 }}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <!-- <h4 class="modal-title">Edit Data</h4> -->
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{{ url_for('update') }}" method="POST">
                                                        <div class="form-group">
                                                            <label>Nama Matakuliah:</label>
                                                            <input type="hidden" name="id" value="{{ row.0 }}">
                                                            <input type="text" class="form-control" name="nama" value="{{ row.0 }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Jumlah SKS:</label>
                                                            <input type="hidden" name="id" value="{{ row.0 }}">
                                                            <input type="text" class="form-control" name="nama" value="{{ row.1 }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Dosen Pengampu:</label>
                                                            <input type="hidden" name="id" value="{{ row.0 }}">
                                                            <input type="text" class="form-control" name="nama" value="{{ row.2 }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <button class="btn btn-warning" type="submit">Update</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <tr>
                                        <td colspan="10">Unbelievable. No entries here so far</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('simpan_nilai_admin') }}" method="POST">
                                        <div class="form-group">
                                            <label>Mahasiswa :</label>
                                            <select class="form-control" name="mahasiswa">
                                                {% for row in mhs %}
                                                <option value="{{ row.0 }}">{{ row.0 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Mata Kuliah :</label>
                                            <select class="form-control" name="matkul">
                                                {% for row in matkul %}
                                                <option value="{{ row.0 }}">{{ row.0 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Presensi :</label>
                                            <input type="text" class="form-control" name="presensi">
                                        </div>
                                        <div class="form-group">
                                            <label>UTS :</label>
                                            <input type="text" class="form-control" name="uts">
                                        </div>
                                        <div class="form-group">
                                            <label>UAS :</label>
                                            <input type="text" class="form-control" name="uas">
                                        </div>
                                        <div class="form-group">
                                            <label>Tugas Besar :</label>
                                            <input type="text" class="form-control" name="tugasbesar">
                                        </div>
                                        <div class="form-group">
                                            <label>Tugas Kecil :</label>
                                            <input type="text" class="form-control" name="tugaskecil">
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Simpan</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                {% endblock %}
                
                
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="{{url_for('static', filename='/js/adminscript.js')}}"></script>
</body>
</html>